$white: #FFFFFF;
$black: #000000;
$pale-pink: #fce8e6;
$alizarin: #d93025;
$lavendar: #e6f0fc;
$cerulean-blue: #2551d9;
$white-smoke: #ececec;
$solitude: #e3e7ed;
$cyprus: #132849;
$patterns-blue: #f3f8fb;
$saphire: #0a204b;
$pacific-blue: #0688d3;
$dim-gray: #6d6d6d;
$charcoal: #444444;
$gainsboro: #DADADA;
$silver: #C6C6C6;
$night-rider: #333333;
$godger-blue: #4C8FFB;
$royal-blue: #3079ED;
$cornflower-blue: #3F83F1;